*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.container{
    width: 100%;
    margin: auto;
}
header{
    background-color: green;
    padding: 2px;
    text-align: left;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.title{
    float: left;
    font-size: 42px;
    padding-left: 5px;
    text-decoration: none;
    color: white;
}
.logo{
    height: 50px;
    float: left;
}
.menu{
    list-style: none;
    float: right;
    margin: auto;
    margin-left: 15px;
    margin-right: 5px;
    text-decoration: none;
    color: white;
    margin-top: 1%;
    font-size: 20px; 
}
li{
    float: left;    
}
.background{
    background-image: url(../imagens/planofundo1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 25px;
    margin: 10px;
    text-align: center;
}
p{
    font-size: 15px;
    margin: 10px;
}
input{
    width: 60%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color:green;
    padding: 6px;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
}
.container1{
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    width: 75%;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: static;
}
.container2{
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 75%;
    content: '';
    background-color: #000000bb;
    position: static;
}
.container3{
        max-width: 700px;
        background-color: #000000bb;
        padding: 20px;
        margin: auto;
        text-align: center;
        
}
.slider{
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: groove;
    border-color: white;
    border-radius: 10px;
    position: static;
}
.foto{
    padding: 0;
    height: 294px;
    float: left;
    margin: 2px;
}
.adress{
    display: inline; 
    margin: auto;
    float: left;
    margin-left: 200px;

}
.contact{
    float: right;
    display: inline;
    margin: auto;
    margin-right: 200px;
}
.redes{
    list-style: none;
    float: right;
    margin-right: 7px;
    margin-bottom: 4px;
}







